<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Global Device List</title>
</head>
<style>
	.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
<body>
	<h1> Buzz tag </h1>
	<table border="1" class="center">
		<tr>
			<th>Device Address</th>
			<th>Device Name</th>
			<th>Owner Details</th>
			<th>Time of Registration</th>
			<th>Time Last Seen</th>
			<th>Location Last Seen</th>
			<th>Last Updater Details</th>
		</tr>
	{% for device, lcn in devices %}
	<tr>
		<td>{{device.deviceAddress}}</td>
		<td>{{device.deviceName}}</td>
		<td>{{device.ownerName}}<br>{{device.ownerEmail}}<br>{{device.ownerNumber}}</td>
		<td>{{device.timestamp|format_timestamp}}</td>
		<td>{{lcn.timestamp|format_timestamp}}</td>
		<td>{{lcn.latitude}}, {{lcn.longitude}}</td>
		<td>{{lcn.updaterName}}<br>{{lcn.updaterEmail}}<br>{{lcn.updaterNumber}}</td>
	</tr>
	{% endfor %}
	</table>
</body>
</html>